%div.clear


%div( id="body-block" class="grid_5 pull_1 box dropshadow" )
  %p %iframe(type="text/html" width="480" height="385" src="http://www.youtube.com/embed/_qsq1LFomyg" frameborder="0")


%div.grid_5
  %img(src="/images/body-title-recent-news.png")
  
  %div( id="body-block" class="grid_6 box dropshadow right" )
    %p 
      2011.10.01
      %br
      %a(href="http://djpompey.bandcamp.com/album/solar-power-2011-mixtape")
        Solar Power Mixtape
      %br
      Dropped October 1st! Check it out in the Music area!    
    %p 2011.09.29
      %br 
      Just DJ'd with Dr Loomis at Salty's. Look for this duo wrecking shop later.
    
    %p Thanks to Kyle Turner Bleeding Wolf Productions for help making this site. 
    %p 
  
      %div( id="social")
        %a(href="http://www.facebook.com/djpompey")
          %img(src="/images/facebook.png" class="pad")
        %img(src="/images/left-arrow.png" class="pad")
        %a(href="http://djpompey.bandcamp.com/")
          %img(src="/images/bandcamp.png" class="pad")
        %img(src="/images/right-arrow.png" class="pad")
        %a(href="http://www.twitter.com/djpompey")
          %img(src="/images/twitter.png" class="pad")
