%div.clear


%div( id="body-block" class="grid_5 pull_1" )
  
  %iframe(width="500" height="150" style="position: relative; display: block; width: 550px; height: 150px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=3495858261/size=venti/bgcol=000000/linkcol=ffffff/" allowtransparency="true" frameborder="0")
    %a(href="http://djpompey.bandcamp.com/track/silly-little-emcees-ft-dj-pompey") Silly Little Emcee's Ft DJ Pompey by Andre Mariette
  %iframe(width="500" height="150" style="position: relative; display: block; width: 550px; height: 150px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=29940982/size=venti/bgcol=000000/linkcol=ffffff/" allowtransparency="true" frameborder="0")
    %a(href="http://djpompey.bandcamp.com/track/pompey-christmas-scratch") DJ Pompey and Farout - Pompey Christmas Scratch
      

%div.grid_5
  <img src="/images/body-title-music.png"></img> 
  
  %div( id="body-block" class="grid_6 box dropshadow right" )
    %p
      %a(href="http://djpompey.bandcamp.com/album/solar-power-2011-mixtape")
        Solar Power Mixtape, 2011
    
    %p Dr. UGZ "I Eat Trash" EP
    
    %p Holiday Mixtape 2010
    
    %p Covert Empire Potluck 2010
    
    %p No Coast Mixtape 2010
 
      %div( id="social")
        %a(href="http://www.facebook.com/djpompey")
          %img(src="/images/facebook.png" class="pad")
        %img(src="/images/left-arrow.png" class="pad")
        %a(href="http://djpompey.bandcamp.com/")
          %img(src="/images/bandcamp.png" class="pad")
        %img(src="/images/right-arrow.png" class="pad")
        %a(href="http://www.twitter.com/djpompey")
          %img(src="/images/twitter.png" class="pad")
