%div.clear

%div( id="video-swirl" )
  %img(src="/images/background-swirl-left.gif")
  
%div.grid_6.push_5
  %img(src="/images/body-title-footage.png")

%div.clear
    
%div( id="body-block" class="grid_6 push_3 box dropshadow space" )
  %p 
  	%iframe(type="text/html" width="480" height="385" src="http://www.youtube.com/embed/kLV1Cudpw5E" frameborder="0")
      
%div( id="body-block" class="grid_6 push_3 box dropshadow space" )
  %p
  	%iframe(type="text/html" width="480" height="385" src="http://www.youtube.com/embed/mNGq6EbTP5U" frameborder="0")
      
%div( id="body-block" class="grid_6 push_3 box dropshadow space" )
  %p 
  	%iframe(type="text/html" width="480" height="385" src="http://www.youtube.com/embed/snyWwgemzb0" frameborder="0")
